*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-body: 'Titillium Web', sans-serif;
  --font-title: 'Manrope', 'Titillium Web', sans-serif;

  --font-size-largest: 4rem;
  --font-size-larger: 1.8rem;
  --font-size-large: 1.4rem;
  --font-size-normal: 1.2rem;

  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --font-weight-boldest: 800;

  --color-body: #222128;
  --color-article: #7c7c7c;
  --color-text-light: #fff;
  --color-text-dark: #000;
  --color-value-increase: #90ff90;
  --color-value-decrease: #ff1313;
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(40em) rotate3d(1, 0, 0, 90deg);
    transform: perspective(40em) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 0;
  }

  50% {
    -webkit-transform: perspective(40em) rotate3d(1, 0, 0, -5deg);
    transform: perspective(40em) rotate3d(1, 0, 0, -5deg);
  }

  70% {
    -webkit-transform: perspective(40em) rotate3d(1, 0, 0, 2deg);
    transform: perspective(40em) rotate3d(1, 0, 0, 2deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(40em);
    transform: perspective(40em);
  }
}

.flip-inX {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

*, html {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-normal);
}

#root {
  position: relative;
  top: 0;
  left: 0;
  background-image: url('./assets/blockchain-bg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root::before {
  content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(125deg, rgba(0, 0, 0, 0.97) 30%, rgba(0, 0, 0, 0.6) 70%);
}

a {
  text-decoration: none;
}

ul {
  list-style: square;
  color: var(--color-text-light);
}

h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-largest);
  font-weight: var(--font-weight-bolder);
  color: var(--color-text-light);
}

h2 {
  font-family: var(--font-body);
  font-size: var(--font-size-larger);
  color: var(--color-text-light);
}

h3 {
  font-family: var(--font-title);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-boldest);
  color: var(--color-text-light);
}

h4 {
  font-family: var(--font-title);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-light);
}

p {
  max-width: 80ch;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-light);
}

span {
  text-align: end;
  color: var(--color-text-light);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.fa-caret-up {
  color: var(--color-value-increase);
}

.fa-caret-down {
  color: var(--color-value-decrease);
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 1rem;
}
